<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whs.cloud.auth.mapper.UserRoleMapper">

    <resultMap id="BaseResultMap" type="com.whs.cloud.auth.bean.UserRole">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="roleId" column="role_id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,role_id,user_id
    </sql>
    <select id="loadRoleNameByUsername" resultType="java.lang.String">
        select c.role_name as role_name from cloud_auth_user a left join cloud_auth_user_role b on a.id=b.user_id
        left join cloud_auth_role c on c.id=b.role_id where a.username=#{username}
    </select>
</mapper>
